.cover-felling-tracker{
    border-radius: 1rem;
    padding: 1rem;
    background: black;
}
.question-container{
    display: flex;
    justify-content: center;
}
.question{
    font-family: sans-serif;
    font-size: 1.5em;
    color: white;
}
.emoji-and-name-container{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
}
.emoji-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.emoji{
    font-size: 2.5rem;
}
.emoji-name{
    font-size: 1rem;
    font-family:  sans-serif;
    font-weight: 525;
}
.rad{
    color:#15B790  ;
}
.good{
    color: #8CCD29 ;
}
.meh{
    color: #4DA3D4 ;
}
.bad{
    color: #F28C38;
}
.awful{
    color: #F0162F ;
}

.cover-emoji-not-selected{
    color: gray;
}
.cover-emoji-not-selected-name{
    color: white;
}
.in-input-page{
    background: none;
}
.date-display , .time-display{
    color: #26A69A;
    font-family: monospace;
    font-weight: 600;
    font-size: 0.9rem;
    border-bottom: 1px solid #15B790;
}
.date-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
}