.first-page-wrap{
    width: 100vw;
    height: 94vh;
    display: flex;
    align-items: center;
}

.first-page-journal-cover-wrap{
    display: flex;
    margin-left: 20%;
    max-width: 670px;
    width: 33vw;
    max-height:500px ;
    height: 59vh;
}
@media (max-width:778px){
    .first-page-journal-cover-wrap{
        width: 60vw;
    }
}
.journal-cover-spine{
    width: 3rem;
    height: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;

    background: rgb(44,44,44);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.905) 8%, rgb(33, 33, 33) 65%);
}
.journal-cover{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 2fr auto 1fr;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background: rgb(255,122,119);
    /* background: linear-gradient(90deg, rgba(255,122,119,1) 0%, rgba(133,63,63,0.7797356828193833) 100%); */
    background: linear-gradient(190deg, #4E6675 0%, #334D5A 100%);

}
.owner-name-dispay{
    width: fit-content;
    height: fit-content;
    margin-top: 3rem;
    justify-self: center;
}
     
.owner-name-dispay h2{
    font-family: sans-serif;
    border: 0.2rem solid wheat;
    padding: 0.8rem 1rem;
    border-radius: 2rem;
}  
.input{
    margin-top: 6rem;
    justify-self: center;
}