.history-wrap{
    /* you have to add shadow border to the main div to make it look better  */
    border: 2px solid white;
    display: flex;
    margin: 3rem 0 0 5rem ;    
    width: 90vw;
    height: 80vh;
    /* overflow: auto; */
}
.heading-history{
    margin: 0.5rem 0 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
.heading-history h2{
    font-family: sans-serif;
}
.history-list{
    overflow: auto;
    background-color: black;
    width: 30%;
    height: 100%;

}
.history-display{
    /* look at the microsoft to do list section that style has to done here in the display. */
    overflow: auto;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-self: center;
    background-color: #202324;
}
/* no entries style----------- */

.no-entries{
    background-color: #383d3e;
    margin: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    color: #12f4c3;
    border: 1px solid white;
    display: none;
}
.yet{
    display: block;
}
/* ----.---------------------search notes style------------------------------- */
.heading-history h2{
    background-color: #383d3e;
    color: #12f4c3;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 1rem;
    padding: 0.3rem 0.5rem;
}

.calendar-icon-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}
.calendar-icon{
    font-size: 1.3rem;
    color: #12f4c3;
    display: flex;
    align-content: center;
    background-color: #202324;
    padding: 0.2rem 0.3rem;
    border-radius: 0.4rem;
    cursor: pointer;
}
.favourite-show{
    background-color: #202324;
    padding: 0.4rem;
    border-radius: 0.2rem 0.3rem;
    color: #F0162F;
    display: flex;
    gap: 0.1rem;
    cursor: pointer;
}
.refresh-icon{
    background-color: #202324;
    padding: 0.2rem 0.3rem;
    border-radius: 0.4rem;
    color: #F28C38;
    cursor: pointer;
}
.input-container{
    transform: scale(0.8);
    transform-origin: top left;
    width: 100%;
    height: 100%;
    padding: 1rem;
}
.note-list{
    padding: 0%;
    list-style: none;
    width: 100%;
    background-color: red;
}
.one-history{
    width: 100%;
    height: max-content;
    overflow: hidden;
}
.favourite-history{
    color: gray;
    display: none;

}
.favourite-history-true{
    display: block;
    color: red;
}
/* responsive */
@media (max-width:778px){
    .history-wrap{
        width: 100vw;
        height: 100vh;
        margin: 0  ;
    }
    .history-list{
        width: 35%;
    }
    .calendar-icon-wrap{
        gap: 0.4rem;
    }
}
/* ---------------------history display style--------------------- */
.main-one-history-date-wrap{
    /* outer div main contain date and one history cover emoji wrap */
    margin-top: 1rem;
    background-color: #202324;
    padding: clamp(0.3rem, 1vw + 0.3rem, 0.6rem);
    border-radius: 1rem;
   
}
.date-display-history{
    color: rgb(80, 165, 198);
    font-size: clamp(0.5rem, 2vw, 0.8rem);
    /* font-size: 1.2rem; */
    font-weight: 600;
}
.one-hirtory-coveremoji-wrap{
    /* contain coveremoji and one history */
    display: flex;
}

.rad{
    color:#15B790  ;
}
.good{
    color: #8CCD29 ;
}
.meh{
    color: #4DA3D4 ;
}
.bad{
    color: #F28C38;
}
.awful{
    color: #F0162F ;
}
.cover-emoji-history{
    /* cover emoji icon form first page  */
    font-size: clamp(2rem, 2vw + 2rem, 2.3rem);
    /* font-size: 3rem; */
    padding-right: clamp(0.5rem , 0.3vw , 0.7rem);
    /* padding-right: 1rem; */
}
.time-coveremojiname-fav-edit-wrap{
    /* first div inside one history contians cover emoi name, time, fav, edit icon*/
    display: flex;
    justify-content: space-between;
    align-items: center;

}
/* //--------// */
.time-coveremoji-wrap{
    display: flex;
    color: white;
}
.cover-emoji-name-history{
    font-size: clamp(0.5rem, 2vw, 1rem);
    font-weight: 800;
}
.time-display-history{
    display: flex;
    align-items: last baseline;
    color: #fff;
    margin-left: clamp(0.1rem, 0.8vw , 0.8rem);

    font-size: clamp(0.2rem, 1vw + 0.2rem , 0.7rem);
}
/* ------------------// */
.fav-edit-wrap{
    display: flex;

}
.favourite-history{
    font-size: clamp(1rem , 1vw + 1rem , 1.4rem);
    display: contents;
}

.threedot-icon{
    font-size: clamp(1rem , 1vw + 1rem , 1.4rem);
    color: whitesmoke;
    display: flex;
    position: relative;
    cursor: pointer;

}
.edit-delete-container{
    position: absolute;
    top: 100%;
    right: 0;
    width: min-content;
    height: max-content;
    padding: clamp(0.4rem ,1vw , 0.6rem);
    /* padding: 0.4rem; */
    border-radius: 0.5rem;
    background-color:#383d3e ;
    display: none;

}
.three-dot-true{
    display: block;
}
.delete-btn , .edit-btn{
    display: flex;
    align-items: center;
    justify-items: center;
    width: max-content;
}
.delete-btn button, .edit-btn button{
    color: #fff;
    background-color: #202324;
    outline: none;
    border: none;
    padding: 0.1rem 0.2rem;
    margin: 0.1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    
}
/* -------------------------------------- */
.history-emojis{
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    column-gap:  clamp(0.3rem, 0.7vw, 1rem  );
}
.emoji-name-container-history{
    display: inline-flex;
    align-items: center;
    gap: clamp(0.1rem, 0.288vw, 1rem);
}
.dot-icon{
    font-size: clamp(0.3rem, 1vh , 1vw + 0.1rem);
}
.single-emoji-display{
    font-size: clamp(0.8rem, 1.9vh , 1.9vw + 0.1rem);

}
.single-name-display{
    display: flex;
    align-items: center;
    font-size: clamp(0.6rem, 1.5vh , 1.6vw + 0.1rem);
    /* font-size: 1.4vw; */

}
/* --------------------------------------- */
.history-title{
    color: #fff;
    font-size: clamp(1rem , 2vw + 1rem , 1.3vw);
    color: #12f4c3;
}
/* --------------------------------- */
.history-content{
    white-space: pre-line;
    color: #fff;
}
/* image-display */
.note-image-display{
    width: 100%;
    height: 12em;
}
.actual-image-history{
    width: 100%;
    height: 100%;

}