.input-wrap{
    margin: 1em auto;
    width:75vw;
    height: 100%;
    display: grid;
    grid-template-rows: 4rem repeat(3 , 150px) 200px 180px 600px 50px;

    grid-template-columns: repeat(3,1fr);
    /* grid-auto-rows: auto; */
    align-items: start;
    gap: 1rem;
}
.cd12{
    grid-column: span 3;
    background-color: aliceblue;
    border-radius: 0;
}
.input-wrap > div{
    /* min-height: 9rem; */
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.05), 
    0 1px 3px rgba(255, 255, 255, 0.1); /* Softer, lower shadow */
}


.cd1{
    grid-column: span 3;
    
    background-color: blue;
}
.cd2{
    grid-column: span 2;
    background-color: wheat;
}
.cd3{
    background-color: green;
}
.cd4{
    background-color: white;
}
.cd5{
    background-color: pink;
}
.cd6{
    grid-column: span 2;
    background-color: purple;
}
.cd7{
    grid-column: 3/ 4;
    grid-row: 3 / 5;
    background-color: aqua;
}
.cd8{
    background-color: darkgreen;
}
.cd9{
    background-color: gray;
}
.cd10{
    
    background-color: yellow;
}
.cd11{
    grid-column: span 3;
    background-color: orange;
}

.cd13{
    grid-column: 2;
    background-color: cadetblue;
    
}