.input-wrap{
    margin: 5em auto;
    width:75vw;
    height: 100%;
    display: grid;
    grid-template-rows: 4rem repeat(3 , 150px) 200px 180px 600px 50px;
    grid-template-columns: repeat(3,1fr);
    gap: 0.5rem;
}
.cd12{
    grid-column: span 3;
    background-color: aliceblue;
    border-radius: 0;
}
.input-wrap > div{
    border-radius: 1rem;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.cd1{
    grid-column: span 3;
    
    background-color: blue;
}
.cd2{
    grid-column: span 2;
    background-color: black;
}
.cd3{
    background-color: green;
}
.cd4{
    background-color: white;
}
.cd5{
    background-color: pink;
}
.cd6{
    grid-column: span 2;
    background-color: purple;
}
.cd7{
    grid-column: 3/ 4;
    grid-row: 3 / 5;
    background-color: aqua;
}
.cd8{
    background-color: darkgreen;
}
.cd9{
    background-color: gray;
}
.cd10{
    
    background-color: yellow;
}
.cd11{
    grid-column: span 3;
    background-color: orange;
}

.cd13{
    grid-column: 2;
    background-color: cadetblue;
    
}