.input-wrap{
    margin: 1em auto;
    width:75vw;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    justify-content: center;
    gap: 1rem;

}

.cd1{

    display: flex;
    align-items: center;
    justify-content: center;
}
.cd1 h1{
    padding: 1rem;
    font-family: sans-serif;
    background-color: #2f9696e0 ;
    border-radius: 1rem;
    color: #ffffffde ;

}
.image-voice-container{
    margin: 1em;
}
.note-image-audio-container{
    margin: 1em auto;
    width: 75vw;
    
}

