.first-page-navbar-container{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #31363d;
    border-top: 1px solid #e7e8e8;
    border-bottom: 2px solid #e7e8e8;
}
.logo{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.logo-icon{
    font-size: 2.2rem;
   /* vertical-align: middle; */
   display: flex;
   align-items: center;
   color: #1cffc6;
}
.nirvana-part1 {
    font-family: "cursive";
    color: #00ffbfd8;
}
  
.side-home-icon{
    display: block;
    gap: 1rem;
}
.side-bar-icon,.home-icon{
    vertical-align: middle;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 1rem;
}
