.prompt-shadow{
    position: fixed;
   inset: 0;
    background: rgba(0, 0, 0, 0);
    opacity: 0; 
    visibility: hidden; 
    transition: all 1s ease-in-out;
    z-index: 1;
  }
  .shadow-open {
    background: rgba(0, 0, 0, 0.5);
    /* background-color: rebeccapurple; */
    opacity: 1;
    visibility: visible; 
    overflow: hidden;
  }

.note-container{
    height: 600px;
    padding: 1rem;
    background-color: #fff;
    border-radius: 1rem;
    background-color: #fff;
}
.note-title{
    height: 10%; 
    display: flex;
}
.note-title input{
    width: 80%;
    height: 100%;
    padding: 1rem;
    font-size: 24px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    color: aliceblue;
    background-color: #1d2124;
    

}
.entry-title-element{
    background-color: #1d2124;
    width: 20%;
    display: grid;
    border-bottom: 1px solid black;
}
.favourite{
    font-size: 2.1rem;
    display: flex;
    align-items: end;
    justify-content: end;
    margin-right: 1rem;
    color: gray;
    cursor: pointer;
}
.favourite-selected{
    color: red;
}

  
.status{
    display: flex;
    align-items: end;
    justify-content: end;
    color: #26A69A;
}
/*--------------------- notepad features -----------------*/
.title-char-count, .note-char-count{
    color: rgb(8, 255, 28);
    margin-left: 1rem;
}
.notepad-features{
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.2rem;
    gap: 0.5rem;
    background-color: #373535;
    border-bottom: 1px solid black;
}
.prompt-icon{
    font-size: 1.2rem;
    position: relative;
    color: aliceblue;

}
.template-icon{
    font-size: 1.2rem;
    position: relative;
    color: aliceblue;
}
.feature-true{
    color: rgb(0, 255, 128);

}
.prompts-container{
    width: max-content;
    height: fit-content;
    position: absolute;
    right: 1rem;
    display: none;
    z-index: 2;
}
.prompts-list , .templates-list{
    background-color: white;
    border-radius: 1rem;
    color: black;
    padding: 0.5rem;
}
.prompts-list ul, .templates-list ul{
    background-color: #211a1a;
    color: #65f3ba;
    border: 1px solid #11e9d3;
    border-radius: 1rem;
}
.prompts-list li, .templates-list li{
    list-style: inside;
    font-family:  monospace;
    font-weight: 600;
    margin: 0.4rem 0 0.4rem 0;

    background-color: #373535;
    border-radius: 0.5rem;
    padding: 0.2rem 0.4rem;

}
.prompts-list li, .templates-list li:hover{
    background-color: #272525;
    cursor: pointer;
}
.templates-list ul{
    color: #65bdf3;

}
.templates-container{
    
    position: absolute;
    right: 1rem;
    display: none;
    z-index: 2;
}
.templates-list{
    width: max-content;
    height: fit-content;
}
.prompt-template-visible{
    display: block;
}
/* note content---------------------------------------------- */
.note-content{
    height: 80%;
    overflow: hidden;
    position: relative;
       
}
.ql-container {
    border: none !important;
    padding: 0 !important;
    background-color: inherit; 
  }
  
  .ql-editor {
    padding: 10px; /* Add controlled padding */
    border: none;
    min-height: 200px; /* or whatever height suits your textarea size */
    background-color: inherit;
  }
  
.write-note{
    width: 100%;
    height: 100%;
    color: aliceblue;
    background-color: #1d2124;
}
.save-btn{
    /* margin-top: -2.6em; */
    /* margin-bottom: 1em; */
    width: 15em;
    height: 2.5em;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    background-color: #11e9d3;
    font-weight: 700;
    font-size: 1rem;
    outline: none;
    border: none;
}
.save-btn :hover{
    background-color: #1f6ac6;
    color: white;
}
