.side-bar-shadow{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  opacity: 0; 
  visibility: hidden; 
  transition: all 1s ease-in-out;
  z-index: 1;
}
.side-bar-shadow.open {
  background: rgba(0, 0, 0, 0.5);
  /* background-color: rebeccapurple; */
  opacity: 1;
  visibility: visible; 
  
}
.side-bar{
  width: 240px;
  background: #202324;
  position: absolute;
  height: 94vh;
  transform: translateX(-100%) translateZ(0);
  will-change: transform;
  opacity: 0;
  transition: all 1s ease-in-out;
  padding: 0 8px;
  z-index: 2;
}

.side-bar.open{
    transform: translateX(0);
    opacity: 1;
    box-shadow: 1px 0 5px rgba(255, 255, 255, 0.2);
}
.sidebar-header{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.1rem;
  font-size: 24px;
  color: #e7e8e8;
  border-bottom: 1px solid snow;
}
.sidebar-header img{
  width: 40px;
  height: 40px;
  background-color: purple;
  border-radius: 50%;
}
.icon{
  font-size: 1.6rem;
  vertical-align: middle;
  margin-right: 1rem;
}
ul{
  width: 100%;
  display: flex;
  flex-direction:column ;
  padding: 0 8px;
}

.side-bar ul li a{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
  color: white;
}
.side-bar ul li{
  height: 40px;
  padding: 8px 6px;
  margin-top: 1rem;
  font-size: 24px;
  list-style: none;
  font-size: 17px;
  border-radius: 8px;
}
.side-bar ul li:hover{
  transition: all 0.5s ease;

  background: #3a3b3d;
}