.calendar-shadow{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    opacity: 0; 
    visibility: hidden; 
    transition: all 1s ease-in-out;
    z-index: 1;
  }
  .calendar-shadow-open {
    background: rgba(0, 0, 0, 0.5);
    /* background-color: rebeccapurple; */
    opacity: 1;
    visibility: visible; 
  }
.actual-calendar-wrap{
    background-color: #202324;
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    z-index: 2;
}
.actual-calendar{
    width: 250px;
    height: 250px;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.cancle-icon{
    position: absolute;
    right: 0;
    font-size: 2em;
    color: #fff;
}
.cancle-icon :hover{
    background-color: #131314;
}
.react-calendar__month-view__weekdays{
    background-color: #26A69A;
    margin-top: 1em;
} 
.react-calendar__month-view__days{
    background-color: #202324;
}
.react-calendar__tile{
    background-color: rgb(32, 29, 29);
    color: aliceblue;
    border: none;
    width: 1.5em;
    height: 2em;
    font-size: 1em;
    border-radius: 50%;
    margin-top: 0.3em;
}
.future-date{
    background-color: #202324;
}
.react-calendar__navigation__label__labelText{
    font-size: 1.4em;
    color: antiquewhite;
    background-color: #202324;
}
.react-calendar__navigation__label{
    border:  #202324;
    outline: none;
}

.react-calendar__navigation__arrow{
    font-size: 1.4em;
    background-color: #202324;
    border: none;
    margin-left: 1em;
    margin-right: 1em;
    color: #fff;
}
.today-highlight{
    background-color: #26A69A;
}
