* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nunito , Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    text-decoration: none;
}
body{
    background-color: #1e2126;
    /* overflow: hidden; */
    overflow-x: hidden; /* Hide horizontal scrollbar */
   
}
